@page
@model CreateProjectModel
@{
    ViewData["Title"] = "Create Project";
}

<!-- Page Wrapper -->
<div id="wrapper">

   <partial name="_Sidebar"/>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

        <partial name="_Topbar"/>

            <!-- Begin Page Content -->
            <div class="container-fluid">
                
                <!-- Content Row -->

                <div class="row">

                    <!-- Area Chart -->
                    <div class="col-xl-12 col-lg-8">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Create a new Project!</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                         aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Dropdown Header:</div>
                                        <a class="dropdown-item" href="#">View Projects</a>
                                        <a class="dropdown-item" href="#">View Tasks</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-area">
                                    <form class="user" method="post">
                                        @Html.AntiForgeryToken()
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <input type="text" class="form-control form-control-user"
                                                       placeholder="Project Name" name="ProjectDTO.Name">
                                                <span asp-validation-for="ProjectDTO.Name" class="text-white badge badge-danger"></span>

                                            </div>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control form-control-user" id="exampleLastName"
                                                       placeholder="Description" name="ProjectDTO.Description">
                                                <span asp-validation-for="ProjectDTO.Description" class="text-white badge badge-danger"></span>
                                            </div>

                                            <div class="col-sm-6 mt-3">
                                           
                                          <select name="ProjectDTO.assignedTeamMemberIds" class="form-control select" multiple>

                                                    @foreach (var tm in (TeamMembers[])ViewData["tm"])
                                                    {
                                                        <option value="@tm.Id">@tm.Firstname +"-"+ tm.Lastname</option>
                                                    }
                                                </select>
                                                <span asp-validation-for="ProjectDTO.assignedTeamMemberIds" class="text-white badge badge-danger"></span>
                                            </div>

                                        </div>
                                       
                                        <input type="submit" value="Create Project" class="btn btn-primary btn-user btn-block" />

                                        <div class="mt-2">
                                            @if (ViewData["err"] != null)
                                            {
                                                <span class="text-white badge badge-danger">@ViewData["err"]</span>
                                            }
                                            else if(ViewData["suc"]!=null)
                                            {
                                                <span class="text-white badge badge-success">@ViewData["suc"]</span>
                                            }
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>

                
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2021</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

